body{
	background: url(../img/index.html.png);
}
.heading{
	font-size:30px;
	text-align: center;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	color: #0bbaf0;
	margin-bottom: 10px;
	font-weight: bold;

}
.bottom-text{
	font-size: 25px;
	color:#0bbaf0 !important;
}
.line{
	background-color: #cbcdce;
	width: 100px;
	height: 1px;
	margin:0 auto;
}
.panel-default>.panel-heading {
	border-radius: 0px;
	background-color: #0bbaf0;
	color:white;
	

}
.panel-group{
	margin-top: 20px;
}
a:hover, a:focus, a:active{
	text-decoration: none;
}