/* Fonts */
@font-face {
  font-family: 'ProximaNova_Bl';
  src: url('../fonts/ProximaNovaCond-Black.eot');
  src: url('../fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Black.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* basic settings */
html {
  font-style: 10px;
}
body {
  font-family: 'ProximaNova_Rg', sans-serif;
}
button:focus,
input:focus {
  outline: none;
}
.button {
  font-size: 1.2rem;
  margin: 0 auto;
  background-color: #fcb303;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/* typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_Bl', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
/* main */
.phone-block {
  text-align: right;
}
.phone-link {
  font-family: 'ProximaNova_Bl', sans-serif;
  text-decoration: none;
  height: 7rem;
  line-height: 7rem;
  display: inline-block;
  font-size: 2rem;
  color: #1a1820;
  font-weight: 900;
}
.phone-link:hover {
  text-decoration: none;
}
.phone .click-active {
  outline: none;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.main {
  background: #ffffff url(../img/bg.png) center center no-repeat;
  padding: 3rem 0 5rem;
  background-size: cover;
  /*Подзаголовок*/
  /*Зеленый ярлык*/
  /*Оплата по факту*/
  /*Главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_Bl', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  font-size: 1.8rem;
  color: #ffffff;
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  text-align: center;
  /*Цифра 300*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_Bl', sans-serif;
}
.main-trigger {
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_Bl', sans-serif;
  display: block;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /*Заголовок*/
  /*Поле для ввода*/
  /*Подписи к полям*/
  /*Кнопка отправить заявку*/
  /*Подпись под формой*/
}
.main-form-header {
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  border-radius: 5px;
  margin: 2rem 0;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  font-size: 1.3rem;
  padding: 0.5rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.main-form small {
  margin-top: 1.5rem;
  display: block;
}
/*Оформление преимуществ*/
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_Bl', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
  background-size: 70%;
  top: 50%;
}
.prev {
  background: url(../img/icons/left-arrow.svg) center no-repeat;
  background-size: 70%;
  left: 0;
}
.next {
  background: url(../img/icons/right-arrow.svg) center no-repeat;
  right: 0;
  background-size: 70%;
}
/*Оформление модальных окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup textarea {
  width: 100%;
  border: 1px solid grey;
  outline: none;
}
.popup-form {
  padding: 0;
}
.popup-close {
  color: #ffffff;
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
}
.popup-content {
  position: fixed;
  background-color: #ffffff;
  top: 10%;
  padding: 4rem 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
/*Media*/
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
}
